body{
    background: peachpuff;
}
.buttons{
    color: #dc7521;
    font-weight: bold;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.radios{
    padding-left: 30px;
    display: flex;
    width: 200px;
}
label{
    cursor: pointer;
    display: flex;
}
.check{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 20px;
    min-width: 20px;
    height: 20px;
    border: 1px solid yellow;
    border-radius: 100%;
    background-color: #fff4ba;
    position: relative;
}
.check:after {
    content: "";
    position: absolute;
}

.radios input:checked + label .check:after{
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: orangered;
    transform:scale(6);
    transition: transform 0.3s;
}

.radios input{
    display: none;
}


.input{
    color: orange;
    font-weight: bold;
    font-size: 30px;
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
form input{
    color: orange;
    background-color: gold;
    width: 150px;
    height: auto;
    font-size:30px;
    padding: 20px 0;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
form input:hover{
    background-color: orange;
    color: gold;
}
.submit{
    border-radius: 50px;
    border: none;
    box-shadow: 1px 2px orange, 2px 1px orange;
}
.table
{
    color: orangered;
    margin: 20px 20px;
    width: fit-content;
    display: flex;
}
.table ul{
    list-style: none;
    padding: 0;
    margin :auto;
}
.table li{
    background-color: #FAFAD2;
    position: relative;
    border:1px solid white;
    width: 138px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

.cell{
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.val{
    perspective: 700px;
}
.val:hover .cell{
    transform: rotateY(180deg);
}
.top{
    color: gold;
    padding: 10px 0;
    background-color: #CD853F;
    box-shadow: 1px 2px 4px #CD853F	, 2px 1px 4px #CD853F;
}
.front,.back{
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    padding: 10px 0;
    box-shadow: 1px 2px 4px #CD853F	, 2px 1px 4px #CD853F;
}
.front{
    background-color: gold;
    z-index: 2;
}
.back{
    background-color: orange;
    transform: rotateY(180deg);
    z-index: 1;
}

.table.n-table > ul:nth-of-type(odd) li:nth-of-type(odd) .front {
    background-color: white!important;
}
.table.n-table > ul:nth-of-type(even) li:nth-of-type(even) .front {
    background-color: white!important;
}
